#h1_main_title {
	margin-left: auto;
	margin-right: auto;
}

#div_chat_app {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#div_messages_box {
	color: white;
	height: 100%;
	width: 100%;
	border-color: gray;
	background-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	overflow-y: scroll;
	word-break: break-all;
}

#span_icon {
	background: url(resources/send_arrow.png);
	width: 200px;
	height: 200px;
	display: block;
}

#div_input_bar {
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
	width: 100%;
	border-radius: 20px;
}

#li_messages-god {
	list-style-type: none;
	border-radius: 15px 15px 15px 15px;
	background: rgb(98, 0, 255);
	padding: 5px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	display: table;
	max-width: 96%;
}

#li_messages-mine {
	list-style-type: none;
	border-radius: 15px 15px 3px 15px;
	background: #1982FC;
	padding: 5px;
	margin: 10px;
	display: table;
	margin-left: auto;
	max-width: 96%;
}

.message {
	margin-left: auto;
	padding: 0;
	border: 0;
}

#li_messages {
	list-style-type: none;
	border-radius: 15px 15px 15px 3px;
	background: rgb(55, 55, 55);
	padding: 5px;
	margin: 10px;
	display: table;
	max-width: 96%;
}
