.button-text {
  transition: .5 ease;
}

.button-text:hover {
  transition: .5 ease;
}

.down-arrow-text-icon {
  margin-left: 4px;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.basic-menu > MuiMenu-list {
  border: 1px solid black;
  background: red;
}
