/* .div-channels {
	margin-left: 1%;
	margin-right: 2%;
}

.div-channels-list {
	background-color: rgb(31, 31, 31);
	border-radius: 10px;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	margin-top: 2%;
	margin-bottom: 5%;
	padding-top: 20px;
	height: 450px;
}

.h2-channel-title {
	font-weight: bolder;
	margin-bottom: 15px;
	text-align: center;
}

.btn-channels, .btn-channels-create, .btn-channels-current, .btn-channels-settings {
	background-color: rgb(55, 57, 59);
	border-radius: 10px;
	border-style: none;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
	color: white;
	cursor: pointer;
	font-size: large;
	font-weight: bolder;
	margin-top: 1%;
	margin-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 50%;
	transition: .2s ease-in-out;
}

.btn-channels-current {
	background-color: rgb(83, 85, 89);
}

.btn-channels-disabled {
	background-color: rgb(83, 85, 89);
}

.btn-channels-settings {
	margin-top: 2%;
	width: 73px;
	height: 50px;
}

.btn-channels-settings-img {
	width: 20px;
	height: 20px;
}

.btn-channels:hover, .btn-channels-create:hover, .btn-channels-current:hover, .btn-channels-settings:hover {
	background-color:  rgb(83, 85, 89);
}

.btn-channels-create {
	font-size: x-large;
}

.user-tag {
	background-color: rgb(31, 31, 31);
	border-radius: 10px;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: row;
	padding: 4%;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 2%;
	width: 100%;
	overflow-x: scroll;
}

.p-username {
	font-size: x-large;
}

.div-btns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
} */

.Channels {
  border: 1px solid darkred;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-user-channels {
  margin-left: 10px;
  margin-right: 10px;
}

#channels-icon-btn {
  border: 1px solid white;
  margin: 10px;
  cursor: pointer;
}

#channels-icon-btn:hover {
  transition: .5s;
  color: #FFF;
}

.chat-user-info {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 1);
}

#chat-user-info-avatar {
  margin-right: 10px;
  border-radius: 50%;
  display: block;
  border: 1px solid var(--avatar-border-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.chat-channels {
  cursor: pointer;
  border: .5px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.selected-channel {
  background-color: #333;
}

.chat-user-channel-options {
  margin-top: auto;
}