.Channels {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  user-select: none;
}

.chat-user-channels {
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#channels-icon-btn {
  border: 1px solid white;
  margin: 5px;
  cursor: pointer;
}

#channels-icon-btn:hover {
  transition: .5s;
  color: #FFF;
}

.chat-user-info {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 1);
}

#chat-user-info-avatar {
  margin-right: 10px;
  border-radius: 50%;
  display: block;
  border: 1px solid var(--avatar-border-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.chat-channels {
  cursor: pointer;
  border: .5px solid grey;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.chat-channels:hover {
  background-color: #333;
}

.chat-channels:active {
  background-color: #555;
}

.selected-channel {
  border: 1px solid grey;
  background-color: #444;
}

.selected-channel:hover {
  background-color: #444;
}

.chat-user-channel-options {
  margin-top: auto;
}