.ChatWindow {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 50%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  height: 80vh;
}

.chat-window-messages-container {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 75vh;
  overflow-y: auto;
}

.chat-window-messages-container::-webkit-scrollbar {
  background-color: #222;
  width: 10px;
  border-radius: 10%;
}

.chat-window-messages-container::-webkit-scrollbar-thumb {
  background-color: #151515;
  width: 10px;
}

.chat-window-message {
  display: flex;
  margin-top: 10px;
}

.message-info {
  display: flex;
}

#sender-username {
  margin-right: 5px;
}

#message-timestamp {
  color: #888;
}

.input-bar {
  width: 98%;
  margin: 5px;
  padding: 1%;
  border-radius: 10px;
  border-style: none;
  outline: none;
  background-color: rgb(92, 92, 92);
  color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
}

.input-bar::placeholder {
  color: white;
  opacity: 0.5;
}