:root {
  --game-over-text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --game-over-text-color: black;
  }
}

.game-over-container {
  background: radial-gradient(170% 90% at top center, #666564 39%, #fff 40%);
  position: absolute;
  text-align: center;
  background-color: #fff;
  color: var(--game-over-text-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  border-radius: 3px;
  transition: .5 ease-in;
}

.game-over-header {
  /* border: 1px solid black; */
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
}

.game-over-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.game-over-users-avatar {
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid transparent;
}

.game-over-users-winner {
  border: 6px solid #5ce065;
  transition: all .35s cubic-bezier(.84, 4.07, .5, -.21);
}

#avatar-component {
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3);
  border-radius: 50%;
  display: block;
}

#avatar-component:hover {
  opacity: .8;
  transition: .5s;
}

.game-over-results-score {
  font-size: 18px;
  transform: translateY(-1rem);
}

.game-over-users-username {
  margin-top: 5px;
}

.game-over-buttons-container {
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-over-buttons {
  display: flex;
}

#game-over-btn {
  padding: 5px;
  margin: 2px;
}
