:root {
  --nav-text-color: inherit;
  --nav-text-color-hover: #54AFFF;

  --nav-box-shadow-color: rgb(0, 0, 0, 0.1);
  --nav-border-bottom-color: rgb(0, 0, 0, 0.2);
  --nav-background-color: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-text-color: rgb(255, 255, 255, 0.87);
    --nav-border-bottom-color: rgb(255, 255, 255, 0.1);
  }
}

nav {
  background-color: var(--nav-background-color);
  box-shadow: 0 0 8px 2px var(--nav-box-shadow-color);
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid var(--nav-border-bottom-color);
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

.NavLink {
  color: var(--nav-text-color);
  transition: 0.3s;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
}

.NavLink:hover {
  /* background-color: #1c1c1c; */
  color: var(--nav-text-color-hover);
  transition: 0.3s;
}

.nav-right:nth-last-of-type(2) {
  margin-left: auto;
}
