nav {
  display: flex;
  text-align: center;
  box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.NavLink {
  transition: 0.3s;
  text-decoration: none;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
}

.NavLink:hover {
  background-color: #EEE;
  transition: 0.3s;
}

.nav-right:nth-last-of-type(2) {
  margin-left: auto;
}