#profile-avatar-component {
  display: block;
  border: 2px solid var(--profile-header-avatar-border-color);
  border-radius: 50%;
}

.profile-header-info {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background-color: var(--profile-header-info-background-color);
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  align-items: center;
}

.profile-header-avatar {
  position: relative;
  display: block;
  margin-right: 10px;
}

.upload-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #222222;
  border-radius: 20%;
  padding: 2px;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 1);
  cursor: pointer;
}

.upload-icon:hover {
  color: #DDD;
  transition: .2s;
}

.profile-header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.profile-header-details-container {
  display: flex;
}

#edit-profile-btn {
  position: relative;
  padding: 5px;
  bottom: 0;
  right: 0;
}

.profile-header-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-header-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.profile-buttons-container {
  display: flex;
}

.profile-header-actions-btn {
  cursor: pointer;
  display: flex;
  background-color: var(--profile-header-actions-btn-background-color);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  border-radius: 5px;
  font-weight: bold;
}

.profile-header-actions-btn:hover {
  background-color: var(--profile-header-actions-btn-background-color-hover);
  transition: .2s;
}

.profile-header-actions-icon {
  margin-right: 5px;
}

#profile-header-details-status {
  font-weight: lighter;
}

.profile-colors-container {
  display: flex;
  padding: 4px;
  margin: 4px;
  display: flex;
}

.box {
  float: left;
  height: 25px;
  width: 25px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: inset 0px 0px 0px 1px white;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

#profile-state-info {
  margin-top: 10px;
  font-weight: lighter;
  color: rgb(12, 228, 12);
  text-align: center;
}