.UserList {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  overflow-y: auto;
  height: 80vh;
}

.user-list-user-info {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.member-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}