#div_main {
	display: flex;
	border-radius: 8px;
	margin-top: 2%;
	background-color: #313131;
}

#h1_main_title {
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#div_chat_window {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#h2_channel_title {
	margin-right: 20%;
	margin-left: auto;
	color: white;
	text-align: center;
	margin-bottom: 15px;
}

#form_create_channel {
	visibility: hidden;
	top: 20%;
	left: 35%;
	color: white;
	width: 500px;
	height: 350px;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	background-color: rgb(54, 54, 54);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

.button_close_create_channel {
	cursor: pointer;
	margin-left: auto;
	font-size: x-large;
	color: white;
	border-radius: 5px;
	background-color: rgb(54, 54, 54);
	border-style: none;
	width: 8%;
}

.button_close_create_channel:hover {
	background-color: #4a4a4a;
}

#label_create_channel {
	font-size: x-large;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
}

.input_create_channel {
	color: white;
	padding: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border-radius: 5px;
	border-style: none;
	background-color: #5b5b5b;
}

.input_create_channel:focus {
    outline-width: 0;
	color: white;
}

.input_create_channel::placeholder {
	color: white;
}

#button_create_channel {
	border-style: none;
	font-size: large;
	color: white;
	padding: 2%;
	width: 90%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: #5b5b5b;
	border-radius: 5px;
}

#button_create_channel:hover {
	background-color: #6b6b6b;
}

#div_channels {
	display: flex;
	flex-direction: column;
	margin-top: 3%;
	margin-left: 1%;
	overflow-y: scroll;
	width: 300px;
	height: 500px;
	padding-top: 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: rgb(28, 28, 28);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

@media screen and (max-width : 750px) {
	#div_channels {
		width: 150px;
	}
}

#div_buttons {
	display: flex;
	border: none;
	outline: none;
}

#button_channel, #button_open_create, #button_channel_current {
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	color: black;
	width: 50%;
	padding: 4%;
	font-size: large;
	margin-bottom: 15px;
	border-width: 0;
	border-radius: 2px;
	color: #ecf0f1;
}

#button_channel, #button_open_create {
	background-color: #5b5b5b;
}

#button_channel_current {
	background-color: #7d7d7d;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

#button_channel:hover, #button_open_create:hover {
	background-color: #76777e;
}

#button_open_create {
	font-size: xx-large;
}

#div_top_module {
	display: flex;
	flex-direction: row-reverse;
}

#button_channel_settings, #img_channel_settings{
	margin-right: 3%;
	user-select: none;
	height: 30px;
	width: 30px;
}

#button_channel_settings {
	cursor: pointer;
	background-color: #464646;
	background: none;
	outline: none;
	border: none;
}
#h3_channel_settings_title, #label_channel_settings {
	margin-left: auto;
	margin-right: auto;
}

#form_channel_settings {
	visibility: hidden;
	top: 15%;
	left: 12%;
	color: white;
	width: 270px;
	height: 170px;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	background-color: rgb(54, 54, 54);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

#input_channel_settings {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: white;
	padding: 3%;
	width: 70%;
	border-radius: 5px;
	border-style: none;
	background-color: #5b5b5b;
}

.button_channel_settings {
	font-size: medium;
	cursor: pointer;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #6d6d6d;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
	margin-top: 20px;
	margin-left: 12px;
}

.button_channel_settings:hover {
	background-color: #989898;
}

#div_messages_box {
	color: white;
	height: 100%;
	width: 100%;
	background-color: #36393e;
	border-radius: 5px;
	overflow-y: scroll;
	word-break: break-all;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

#div_input_bar {
	pointer-events: all;
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
	width: 100%;
	border-radius: 8px;
	border-style: none;
	background-color: #56575b;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
}

#div_input_bar::placeholder, #input_channel_settings::placeholder {
	color: rgb(208, 208, 208);
}

#div_input_bar:focus, #input_channel_settings:focus {
    outline-width: 0;
	color: white;
}

#li_messages {
	list-style-type: none;
	padding: 5px;
	margin-top: 10px;
	display: table;
	max-width: 96%;
}

/*------------------------------------------------*/

#debug_date {
	color: white;
}