:root {
  --home-content-background-color: rgba(240, 240, 240, 0.5);
  --home-content-border-color: rgba(0, 0, 0, 0.1);
  --home-content-radial-gradient-color: rgba(177, 177, 177, 0.2);

  --title-linear-gradient: 315deg,#646464 25%,#000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --home-content-background-color: rgba(240, 240, 240, 0.5);
    --home-content-border-color: rgba(255, 255, 255, 0.1);
    --home-content-radial-gradient-color: rgba(177, 177, 177, 0.2);

    --title-linear-gradient: 315deg,#54AFFF 25%,#42d392;
  }
}

.Home {
  display: flex;
  justify-content: center;
}

.home-content {
  background-color: var(--home-content-background-color);
  border: 1px solid var(--home-content-border-color);
  border-radius: 6px;
  background: radial-gradient(180% 45% at top center, var(--home-content-radial-gradient-color) 30%,transparent 0);
}

.home-sections {
  height: max-content;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  background: -webkit-linear-gradient(var(--title-linear-gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: xx-large;
}

section {
  margin: 10px;
}

.gamePage {
  display: flex;
  justify-content: center;
  align-items: center ;
}

.pong-demo {
  display: none;
}

@media (min-width:750px) {
  .pong-demo {
    display: block;
  }  
}
