:root {
  --home-main-content-background: radial-gradient(200% 44% at top center, var(--home-content-radial-gradient-color) 30%,transparent 0);
  --home-content-background-color: rgba(240, 240, 240, 0.5);
  --home-content-border-color: rgba(255, 255, 255, 0.1);
  --home-content-radial-gradient-color: rgba(144, 142, 142, 0.2);

  --title-linear-gradient: 315deg,#54AFFF 25%,#42d392;
}

@media (min-width:750px) {
  :root {
    --home-main-content-background: radial-gradient(180% 40% at top center, var(--home-content-radial-gradient-color) 30%,transparent 0);
  }
}

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1 {
  background: -webkit-linear-gradient(var(--title-linear-gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: xx-large;
}

.home-main-content {
  background-color: var(--home-content-background-color);
  border: 1px solid var(--home-content-border-color);
  border-radius: 6px;
  width: fit-content;
  background: var(--home-main-content-background)
}

.home-sections {
  height: max-content;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

section {
  margin: 10px;
}

.pong-demo {
  display: none;
}

@media (min-width:750px) {
  .pong-demo {
    display: block;
  }
}