:root {
  --profile-header-info-background-color: white;
  --profile-header-avatar-border-color: white;
  --profile-header-actions-btn-background-color: ##EEE;
  --profile-header-actions-btn-background-color-hover: #DDD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --profile-header-info-background-color: #222;
    --profile-header-avatar-border-color: white;
    --profile-header-actions-btn-background-color: #333;
    --profile-header-actions-btn-background-color-hover: #444;
  }
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

#avatar-component {
  display: block;
  border: 4px solid var(--profile-header-avatar-border-color);
  border-radius: 50%;
}

.profile-header-container {
  margin: 20px;
}

.profile-header-info {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background-color:var(--profile-header-info-background-color);
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  align-items: center;
}

.profile-header-avatar {
  position: relative;
  display: block;
}

.upload-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.profile-header-details-container {
  display: flex;
}

#edit-profile-btn {
  position: relative;
  padding: 5px;
  bottom: 0;
  right: 0;
}

.profile-header-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-header-actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: auto;
}

.profile-header-actions-btn {
  cursor: pointer;
  display: flex;
  background-color: var(--profile-header-actions-btn-background-color);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
  border-radius: 5px;
  font-weight: bold;
}

.profile-header-actions-btn:hover {
  background-color: var(--profile-header-actions-btn-background-color-hover);
  transition: .2s;
}

.profile-header-actions-icon {
  margin-right: 5px;
}

#profile-header-details-status {
  font-weight: lighter;
}

#match-history-win {
  color: rgb(0, 255, 0);
}

#match-history-lose {
  color: rgb(255, 0, 0);
}
