:root {
  --profile-header-info-background-color: #222;
  --profile-header-avatar-border-color: white;
  --profile-header-actions-btn-background-color: #333;
  --profile-header-actions-btn-background-color-hover: #444;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}